{%extends 'base.html'%}

{%load static%}
{%block title%} | About Us {%endblock%}

{%block content%}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">О нашей компании</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Домашняя страница</a>
          </li>
          <li class="breadcrumb-item active"> О нас</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Добро пожаловать в Rage Agency! Мы являемся ведущей компанией по недвижимости, специализирующейся на предоставлении широкого спектра услуг в области покупки, продажи, аренды и управления недвижимостью. Наша компания была основана с целью предоставить клиентам высококачественные услуги и профессиональное сопровождение на каждом этапе сделки.

            Мы гордимся нашей превосходной репутацией и богатым опытом в недвижимостной сфере. Наша команда состоит из опытных и высококвалифицированных специалистов, которые обладают глубокими знаниями рынка недвижимости и всегда готовы предложить нашим клиентам наилучшие решения, соответствующие их потребностям.</h2>
          <p class="lead">Услуги Rage Agency включают в себя:

            Покупка недвижимости: Мы помогаем нашим клиентам найти и приобрести идеальный дом, квартиру или коммерческое помещение. Наша команда проводит тщательный поиск, анализирует рынок и предоставляет клиентам самую полезную информацию, чтобы помочь им принять взвешенное решение.
            
            Продажа недвижимости: Если вы решили продать свою недвижимость, мы предлагаем комплексный подход, включающий оценку, маркетинг, показ и проведение сделки. Наша цель - обеспечить максимальную прибыль и эффективность для наших клиентов.
            
            Аренда недвижимости: Мы предлагаем широкий выбор арендных объектов, начиная от жилых помещений до коммерческих зданий. Наша команда поможет вам найти и арендовать подходящее жилье или бизнес-помещение, учитывая ваши предпочтения и бюджет.
            
            Управление недвижимостью: Мы предлагаем профессиональное управление недвижимостью для инвесторов и собственников. Наша команда заботится о поддержании недвижимости в отличном состоянии, обеспечивает своевременное обслуживание и устранение любых проблем, связанных с недвижимостью. Мы также предлагаем помощь в управлении финансами, заключении договоров и взаимодействии с арендаторами.

            Наша компания стремится к высочайшему уровню профессионализма и качества обслуживания. Мы понимаем, что покупка, продажа или аренда недвижимости может быть сложным и стрессовым процессом, поэтому наша команда обеспечивает надежное и эффективное сопровождение, чтобы сделка прошла гладко и успешно.
            
            Мы гордимся своими долгосрочными отношениями с клиентами и стремимся установить доверительные партнерские отношения. Наш подход основан на индивидуальном подходе к каждому клиенту, понимании их потребностей и целей, чтобы предложить оптимальные решения и достичь наилучших результатов.
            
            Благодаря нашему вниманию к деталям, глубокому пониманию рынка недвижимости и профессиональным навыкам, Rage Agency готова быть вашим надежным партнером во всех вопросах, связанных с недвижимостью.
            
            </p>
          <img src="{% static 'img/about.jpg' %}" alt="">
          <p class="mt-4">Свяжитесь с нами уже сегодня, и доверьте нам заботу о вашей недвижимости. Мы готовы помочь вам достичь ваших целей и сделать ваш опыт с недвижимостью положительным и удовлетворительным.</p>
        </div>
        <div class="col-md-4">
          {% if mvp_realtors %}
            {% for realtor in mvp_realtors %}
              <div class="card">
                <img class="card-img-top" src="{{realtor.photo.url}}" alt="Seller of the month">
                <div class="card-body">
                  <h5 class="card-title">Риелтор месяца</h5>
                  <h6 class="text-secondary">{{realtor.name}}</h6>
                  <p class="card-text">{{realtor.description}}
                  </p>
                </div>
              </div>

            {%endfor%}
          {% endif %}
          
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">Мы работаем для вас</h2>
    <h4>Мы - команда Rage Agency, и мы работаем для вас!

      Rage Agency - ваш надежный партнер в области недвижимости. Мы специализируемся на предоставлении высококачественных услуг покупки, продажи, аренды и управления недвижимостью. Наша команда профессионалов готова предложить вам оптимальные решения, соответствующие вашим потребностям и целям.
      
      Независимо от того, нужен ли вам идеальный дом, помещение для вашего бизнеса или помощь в управлении имуществом, мы здесь, чтобы обеспечить вас высочайшим уровнем сервиса. Мы ценим наших клиентов и работаем в их интересах, стремясь к успеху каждой сделки.
      
      С нами вы можете рассчитывать на профессиональное консультирование, тщательный анализ рынка, оказание помощи во всех этапах сделки и обеспечение безупречного обслуживания. Мы делаем все возможное, чтобы ваш опыт работы с нами был комфортным, удобным и успешным.
      
      Выберите Rage Agency, и мы обеспечим вас надежностью, эффективностью и результативностью. Мы готовы приступить к работе для вас уже сегодня!</h4>
    <hr>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Наша команда</h2>
      <div class="row text-center">
        {% if realtors %}
          {% for realtor in realtors %}
            <div class="col-md-4">
            <img src="{{realtor.photo.url}}" alt="" class="rounded-circle mb-3">
            <p class="text-success">
              <i class="fas fa-award text-success mb-3"></i> {{realtor.name}}</p>
            <hr>
            <p>
              <i class="fas fa-phone"></i> {{realtor.phone}}</p>
            <p>
              <i class="fas fa-envelope-open"></i> {{realtor.email}}</p>
            </div>

          {% endfor %}
        
        {% else %}
          <div class="col-md-12">
            <b>No Realtor Available</b>
          </div>
        {%endif%}
      

      </div>
    </div>
  </section>

{%endblock%}